.banner {
  text-align: center;
  padding: 20px;
  background: #D9DCE1;
}

.points-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  height: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 35px;
  box-shadow: 0 6px 10px #0000001a;
}

.point {
  flex: 1 1 250px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.point img {
  width: 60px;
  height: auto;
  margin-bottom: 15px;
}

.point h3 {
  margin: 10px 0;
  font-size: 20px;
}

.point p {
  margin: 0;
  font-size: 18px;
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 5px;
  margin: 20px auto;
  padding: 20px;
}

.button1 {
  padding: 18px 40px;
  border: none;
  background-color: #ffe600; 
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  border-radius: 35px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button1:hover {
  background-color: #cfb939; 
}

.button2 {
  padding: 18px 40px;
  border: 1px solid #000000;
  background-color: #ffffff; 
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  border-radius: 35px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button2:hover {
  background-color: #878787; 
}
@media (max-width: 800px) {
  .points-container {
    flex-direction: column;
    height: auto;
    gap: 10px;
    padding: 10px;
  }

  .point {
    flex: 1 1 100%;
    padding: 10px;
  }

  .buttons-container {
    flex-direction: column;
    gap: 10px;
  }

  .button1, .button2 {
    padding: 15px 30px;
    font-size: 16px;
  }
}