.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  box-shadow: 0 1px 3px -2px rgb(241, 241, 241);
  font-family: 'Poppins';
  background-image: linear-gradient(to right, #ffffff,#ffffff 95%);
  color: #03588C;
  position: fixed;
  top: 0;
  left:270px; 
  width: calc(100% - 300px); 
  z-index: 1000; 
  height: 60px;
}


.topbar p{
  font-size: 30px;
  font-weight: 600;
  color: #03588C;
  text-decoration: double;
}


.topbar-logo {
  font-size: 30px;
  font-weight: 600;
  flex-direction: row;
  display: inline-flex;
  padding: 10px;
}
.topbar-logo img{
  width: 240px;
  height: 40px;
  padding-left: 10px;
  padding-top: 33px;
}

.topbar-login {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 80px;
}

.topbar-login button {
  padding: 10px 10px;
  border-radius: 15px;
  background-color: #03588C;
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
  cursor: pointer;
  padding: 8px;
}

.topbar-login button:active {
  background-color: #f3f3f3;
}

.topbar-login button:hover {
  background-color: #7faaf4;
  opacity: 0.8;
}